body { 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    width: 100dvw;
    left: 0;
     margin-top: 0; padding-top: 0; 
}

header {z-index: +100;
    width: 8dvw;
    width: 230px;
    position: fixed;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    height: 100%;
    justify-items: center;
    align-items: center;
    
    border: solid;
    justify-content: space-between;
    overflow: hidden;
    
    overflow-y: hidden;
   
    
    
    
}

.portrait {
    width: 150px;
    height: 150px;
    border-radius: 48%;
    margin: 0; ;
}

.name {
    font-size: 26px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
 
    margin-top: 10px;
}
.unten {font-size: 15px; color: rgba(135, 135, 135, 0.785);}

.logo {
   margin-top: 2dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.nav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: -35%;
  
      
}

.btn-nav {
    background-color: rgba(138, 92, 92, 0);
    border: none;
    
    padding-top: 13px;
    padding-bottom: 13px;
    
   display: table-cell;
    width: 220px;
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 450;
    text-align: center;
    cursor: pointer;
    border-color: red; 
    align-content: center; border-radius: 5px; vertical-align: middle; padding: auto;
    
}

main {
    margin-left: 230px;
   margin-top: 0;
    background-color: rgba(118, 118, 118, 0.504);
   overflow-x: hidden;
    scroll-snap-type: y proximity;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
    
}

.home {height: 100dvh; width: 100%; background-color: aqua; align-items: center; align-content: center; justify-content: center; display: flex; flex-direction: column; padding-left: 15%; padding-right: 15%; background-image: url(../images/test.jpg); background-repeat: no-repeat; background-attachment: fixed; background-position: bottom; background-size: auto;}
.home .title-red {font-size: 30px; color: #d83434; font-family: 'Nunito', sans-serif; margin-bottom: -2dvw;}
.home .title {font-size: 70px; color: white;  font-family: 'Poppins', sans-serif;}
.home .description {font-size: 18px; color: white;  font-family: 'Poppins', sans-serif; width: 50%; line-height: 1.5; text-align: center; margin-top: -2dvw;}
.home .down {font-family: 'Nunito', sans-serif; font-size: 18px; padding: 10px; margin-top: 6%; background-color: #d83434; color: white; border-radius: 5px; border: none; margin-top: 0.5dvw;} 
.active {color: rgb(177, 35, 35); scale: 1.1;}
.home.test {background-image: url(../images/трини.jpg);}