.html {overflow-x: hidden; overflow-y: hidden; height: 100dvh; scroll-behavior: smooth;}
a {text-decoration: none;}
button {cursor: pointer;}
/* Стили для скроллбара */
/* Общие стили для скроллбара */
/* Общие стили для скроллбара */
/* Стили для основного контейнера */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(48, 48, 48);
  overflow-y: scroll; /* Включаем вертикальный скролл контейнера */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Стили для скроллбара */
body::-webkit-scrollbar {
  width: 20px; /* Ширина скроллбара */
  background: transparent; /* Прозрачный фон скроллбара */
}

/* Стили для фона дорожки скроллбара */
body::-webkit-scrollbar-track {
  background: transparent; /* Прозрачный фон дорожки */
}

/* Стили для "плашки" скроллбара */
body::-webkit-scrollbar-thumb {
  background-color: #84212e; /* Цвет "плашки" */
  border-radius: 2px; /* Закругления "плашки" */
  border: 2px solid #04040493; /* Граница "плашки" */ width: 5dvw;
}

/* Стили для собственного элемента дорожки скроллбара */
body::-webkit-scrollbar-track {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px; /* Ширина дорожки скроллбара */
  height: 100%; /* Высота дорожки скроллбара, равная высоте окна просмотра */
  background: #84212e00; /* Начальный цвет дорожки */
  z-index: 9999; /* Помещаем дорожку скроллбара выше контента */
}



#scrollbar-track {
  position: fixed;
  top: 42.5%;
  left: 252px;
  width: 2px; /* Ширина дорожки скроллбара */
  height: 28%; /* Высота дорожки скроллбара, равная высоте окна просмотра */
  background: #84212e00; /* Начальный цвет дорожки */
  z-index: 9999; /* Помещаем дорожку скроллбара выше контента */
}
header {z-index: +100;
    width: 8dvw;
    width: 252px;
    position: fixed;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
   height: 100dvh;
    justify-items: center;
    align-items: center;
    
    border: none; border-right: 0.dvw solid rgb(48, 48, 48);
    justify-content: space-between;
overflow: hidden;
   
    
    
    
}

.portrait {
    width: 150px;
    height: 150px;
    border-radius: 48%;
    margin: 0; ;
}

.name {
    font-size: 26px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
 
    margin-top: 10px;
}
.unten {font-size: 15px; color: rgb(57, 57, 57);  filter:grayscale(1.6)}

.logo {
   margin-top: 2dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.nav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 35%;
  font-weight: 900;
      
}

.btn-nav {
    background-color: rgba(138, 92, 92, 0);
    border: none;
    
    padding-top: 13px;
    padding-bottom: 13px;
    
   display: table-cell;
    width: 220px;
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    border-color: red; 
    align-content: center; border-radius: 5px; vertical-align: middle; padding: auto;
    
}

main {
    margin-left: 255px; width: calc(100% - 256.5px); margin-right: 5%;
   margin-top: 0;
   margin-bottom: 0;
    background-color: rgba(118, 118, 118, 0.504);
   overflow-x: hidden;
    scroll-snap-type: y proximity;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; height: min-content; justify-content: flex-start;
      
    
}
footer {display: flex;  width: 100%;  align-items: center;}

.block {display: flex; flex-direction: row; background-color: #252525; height: 9dvh; width: 100%; justify-content: center; color: white;border: none; padding-left: 0dvw;}
button {font-family: "Poppins"; font-size: 14px; border: none;}
p { font-family: "Nunito", Helvetica, Arial, sans-serif;color: #ffffff; font-size: 15px; } 
h1 {font-family: "Poppins"}
.block {display: flex;margin-top: 0; vertical-align: middle; align-items: center;}
.title { color: #ffffff; font-family: "Poppins"; font-size: 40px; margin-bottom: 0.5dvw; font-weight:bold; letter-spacing: -1px; width: max-content;}
.description { font-size: 16px; font-weight: 300; line-height: 1.7; margin:0}
.unten.active {color: #bababa; transition: 0.5s ease; scale: 1.4; filter: brightness(1.1);}


.home {min-height: 100dvh; width: 100%; background-color: aqua; align-items: center; align-content: center; justify-content: center; display: flex; flex-direction: column; padding-left: 15%; padding-right: 15%; background-image: url(../images/трини.jpg); background-repeat: no-repeat; background-attachment: fixed; background-position-y: center; background-position-x:center; background-size: cover; }
.title-red {font-size: 35px; color: #84212e; font-family: 'Nunito', sans-serif; margin-bottom: -1.5dvw; margin-top: -4dvw; letter-spacing: 4px; font-weight: bolder; color: #b82136;}
.home .title {font-size: 70px; color: white;  font-family: 'Poppins', sans-serif;}
.home .description {font-size: 18px; color: white;  font-family: 'Poppins', sans-serif; width: 50%; line-height: 1.5; text-align: center; margin-top: 1dvw;}
.home .down {font-family: 'Nunito', sans-serif; font-size: 18px; padding: 15px 45px 15px 45px;  background-color: #84212e; color: white; border-radius: 5px; border: none; margin-top: 3dvw; font-weight: bolder;} 
.active {color: #84212e; scale: 1.1; filter: brightness(1.3);}


.aboutme {flex-direction: column; height: min-content; width: 100%; background-color: rgb(32, 32, 32); align-items: center;  vertical-align: middle}
.fotos {display: flex; flex-direction: column; margin-top: 3dvw; margin-left: 3dvw; margin-bottom: 3dvw; }
.foto1 {max-width: 38dvw; border-radius: 10px;}
.foto2 {width: 16.5dvw; border-radius: 10px; margin-top: -7.4dvw; margin-left: 25dvw;}
.aboutme .description { margin-right: 4.5dvw;  margin-top: 1dvw;}
.aboutme .title {line-height: 0.8;}
.info {flex-direction: row; display: flex; } 
.textcontainer {display: flex; flex-direction: column;   justify-content: space-around; height: min-content; margin: auto; margin-left: 4.5dvw; padding-bottom: 3dvw; } 
.skills:optional {width: min-content; white-space: nowrap; margin-top: 2dvw; padding: 1.3dvw 2dvw 1.3dvw 2dvw;  background-color: rgba(0, 0, 0, 0); border: 2px solid  #84212e; color: white; border-radius: 5px;}
.skills-container {display: none; justify-content: space-between;  margin: 0dvw 5% 0dvw 5%; width: 90%; margin-bottom: 4dvw;}
.skill {width: 20dvw; justify-content: center; align-items: center; display: flex; flex-direction: column; color: white; font-size: 13px;}

.service {flex-direction: column; height: min-content; width: 100%; background-color: rgb(28, 28, 28); align-items: center;  vertical-align: middle}
.service .description {width: 60%; text-align: center; margin-top: 1dvw; margin-bottom: 40px; }
.service .title {margin-top: 4.5dvw;}
.text-service .title {margin-top: 2%; letter-spacing: 0.1px;}
.service-container {display: flex; flex-direction: row; width: 100%; margin-right: 0; flex-wrap: wrap; justify-content: space-evenly; margin-top: 2dvw; margin-bottom: 3dvw;}
.service-card {width: 25dvw;  display: flex; flex-direction: row;  width: min-content; justify-content: space-evenly; width: 30dvw; margin-right: 0dvw; margin-bottom: 3dvw;}
.service-card img {width: 12dvw;}
.text-service {height: min-content; margin: auto; margin-left: 1dvw; min-width: 20dvw;}
.text-service .description {width: 100%; text-align: left; margin-top: 0dvw;}
.text-service .title {font-size: 25px;}
.service-card img {margin-right: 0.2dvw; filter: brightness(1.05);}

.availabel {height: 20dvw; background-image: url(images/rokk.jpg); width: 100%; background-size: cover; background-attachment: fixed; background-position: bottom; display: flex; flex-direction: column; justify-content: center; align-items: center; background: linear-gradient(rgba(194, 15, 15, 0.5), rgba(195, 17, 17, 0.5)),}
.availabel .title {margin-top: 0; filter: brightness(1.6) sepia(1.5); }
.hireme {font-family: 'Nunito', sans-serif; font-size: 18px; font-weight: bold; padding: 10px;  background-color: #84212e; color: white; border-radius: 5px; border: none;  width: 15dvw; margin-top: 1dvw;}

.reviews {display: flex; flex-direction: column; align-items: center; justify-items: center; width: 100%;}
.reviews .title {margin-top: 4dvw;}
.figure {color: #932635; font-size: 50px; line-height: 0.8; }
.reviews .portrait {margin-bottom: 2dvw;}
.reviews .slider-nav-container {margin: 5dvw; margin-top: 3dvw; width: 5dvw; display: flex; justify-content: space-between;}
.description.nameR {font-size: 15px; margin-top: 2dvw; color: #932635; font-weight: bold; }
.slider-nav {background-color: #f3f3f3; padding: 0.3dvw; border: 0px; border-radius: 0.2dvw;}
.slider-nav:hover {  border-radius: 0.2dvw; scale: 1.3; filter: brightness(1.3); transition: 0.1s ease;}

.selected {background-color: #84212e; scale: 1.3;}
.portfolio {flex-direction: column; height: min-content; width: 100%; height: 90dvh; background-color: rgb(23, 23, 23); align-items: center;  vertical-align: middle}
.portfolio .title-red {margin-top: 4dvw; margin-bottom: 0.1dvw; }
.portfolio-nav-container {width: 90%; flex-direction: row; display: flex; justify-content: space-around; margin: 3dvw; margin-bottom: 6dvw;}
.portfolio-nav {width: 20dvw; background-color: #84212e; height: 20dvw; background-image: url(images/трини.jpg); border-radius: 3dvw; display: flex; align-items: center; justify-content: space-around;  }
#project1 {background-image: url(images/api.png); background-size: cover; background-position: center;}
#project2 {background-image: url(images/scroll.png); background-size: cover; background-position: center;}
#project3 {background-image: url(images/shop.png); background-size: cover; background-position: center;}
.onhover {flex-direction: column;}
.onhover button {width: 100%; height: 30%; margin-top: 3%; background-color: #84212e;border: none; border-bottom: none; margin: 0; margin-top: 3dvw; font-family: 'Nunito', sans-serif; color: #fff; font-weight: bold;}
.onhover .title {font-size: 25px; margin-bottom: 2dvw; margin-top: 1.5dvw;  color: #a40c20d1;;}


.motto {flex-direction: column; height: min-content; width: 100%; background-color: rgb(16, 16, 16); align-items: center;  vertical-align: middle}
.motto .service-container {flex-direction: row; margin-top: 1.5dvw; margin-bottom: 6dvw;}
.motto .service-card {width: 26%; margin-bottom: 0; flex-direction: column; align-items: center;}
.motto .service-card img {width: 10dvw;}
.motto .text-service {align-items: center;  text-align: center; display: flex; flex-direction: column; margin-left: 0;}
.motto .description {text-align: center; width: 80%;}
.motto .title {margin-top: 3dvw; margin-bottom: 2dvw;}
.motto .service-card .title {margin-top: 1dvw;}
.motto .service-card img {margin-right: 0;  filter: brightness(1.1);}


.contactus {flex-direction: column; height: min-content; width: 100%; background-color: rgb(30, 30, 30); align-items: center;  vertical-align: middle; }
.contactus .title {margin-top: 5dvw; margin-bottom: 2.5dvw;}
.contactus .description {max-width: 60%; text-align: center;} 
.input-container { height: 10dvw; display: flex; justify-content: center; width: 100%; padding-left: 12%; padding-right: 10%; margin-top: 3.5dvw; }
.small-container {display: flex; height: 10dvw; flex-direction: column; justify-content: space-between; width: 30dvw;}

 .send { margin-top: 4dvw; margin-bottom: 1dvw; font-family: 'Nunito', sans-serif; font-size: 18px; padding: 10px;    background-color: #84212e; color: white; border-radius: 5px; border: none;  width: 10dvw; font-weight: bold;}
input:focus, input:focus-visible, input::selection, input::slotted {border-radius: 8px; border: solid; border-color: rgb(0, 0, 0);border-width: 0.1dvw; border-bottom-width: 0.25dvw; border-bottom-color: #84212e; background-color: rgba(0, 0, 0, 0.164); color: rgb(255, 255, 255); font-size: 1.3dvw; padding: 0.4dvw; padding-left: 0.6dvw; column-count:none}
 input {border-radius: 8px; border: solid; border-color: rgb(0, 0, 0);border-width: 0.1dvw; border-bottom-width: 0.25dvw; border-bottom-color: #84212e; background-color: rgba(0, 0, 0, 0.164); color: rgb(255, 255, 255); font-size: 1.3dvw; padding: 0.4dvw; padding-left: 0.6dvw; column-count:none; font-family: 'Nunito', sans-serif; font-weight: bold; } 
textarea {border-radius: 8px; border: solid; border-color: rgb(0, 0, 0);border-width: 0.1dvw; border-bottom-width: 0.25dvw; border-bottom-color: #84212e; background-color: rgba(0, 0, 0, 0.164); color: rgb(255, 255, 255); font-size: 1.3dvw; padding: 0.4dvw; width: 100%; font-family: 'Nunito', sans-serif; font-weight: bold; }
input:not(:placeholder-shown) {border-bottom-color:rgb(2, 70, 2); scale: 1.02; transition: 2s ease}
.big {width: 41.5dvw; height: auto; align-content: center ; display: flex; flex-wrap: wrap; margin-left: 2dvw; margin-right: 1dvw;}
.contact-container {display: flex; width: 100%; justify-content: space-around; margin-bottom: 3.5%; margin-top: 3.5dvw;}
.contact img {width: 3dvw; }
.contact {width: 20dvw; flex-direction: column; display: flex; align-items: center; color: white;  font-family: 'Nunito', sans-serif; font-size: 12px;}
:optional {border-bottom-color: grey;}

.slider-item {flex-direction: column; width: 80%; flex-wrap: wrap; align-items: center; display: none;}
.slider-content {display: flex; text-align: center; justify-content: space-evenly; width: 100%; }
.mana {border-bottom-color:rgb(2, 70, 2); scale: 1.02; transition: 2s ease}
.send.mana { scale: 1.2; filter: brightness(1.2) ; transition: 0.8s ease; padding: 15px;}
.arrow {background-color: #84212e; position: absolute; right: 10dvw; color: rgb(255, 255, 255); font-size: 15px; font-weight: 900; border: none; border-radius: 4px; justify-content: center; padding: 10px; padding-bottom: 5px; width: 2dvw; height: min-content;}
.b3 {font-size: 0.9dvw;}
.b3.active {color: rgb(135, 135, 135);; transition: 0.5s ease; scale: 1.4; filter: brightness(1.5);}
.arrow.active {color: rgb(135, 135, 135);; transition: 0.5s ease; scale: 1.4; filter: brightness(1.2) contrast(1.1);}

.portfolio-nav {
            position: relative;
            border: solid 0.9dvw #84212e;
            overflow: hidden;
        }
        .background img {width: 100%; border: 0;}

         #project1 .background {background-image: url(images/api.png); background-repeat: no-repeat;  border: none; 
            width: 100%;
            height: 100%;
           display: flex;
            background-size: cover;
            transition: filter 0.3s, transform 0.3s ease;
        }

        #project2 .background {background-image: url(images/scroll.png); border: none;
            width: 100%;
            height: 100%;
            display: flex;
            background-size: cover; background-position: center; background-position-x: left;
            transition: filter 0.3s, transform 0.3s ease; 
        }

        #project3 .background {background-image: url(images/shop.png); background-repeat: no-repeat; border: none;
            width: 100%;
            height: 100%;
            display: flex; 
            background-size: cover;
            transition: filter 0.3s, transform 0.3s ease;
        }

        .portfolio-nav .onhover {
            position: absolute; border: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.822); /* Затемнение */
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            color: #fff; /* Цвет текста на затемненном фоне */
            opacity: 0; /* Изначально невидим */
            transition: opacity 0.1s ease;
        }

        .portfolio-nav:hover .background {border: none;
            transition: 0.15s ease;
            filter: blur(9px); /* Размытие при наведении */
            transform: scale(1.3); /* Увеличение при наведении (по желанию) */
        }

        .portfolio-nav:hover .onhover {border: none;
            opacity: 1; /* Плавное появление при наведении */
        }




        @media screen and (max-width: 1200px) {
            
            button {white-space: nowrap; min-width: min-content;}
            header {width: 150px; border-right: solid rgb(48, 48, 48) 2px;}
            .portrait {width: 100px; height: 100px; margin-top: 1dvw;}
            main {margin-left: 140px; width: calc(100% - 143px); padding-left: -10%;}
            
#scrollbar-track {left: 150px; top: 41%; height: 30%;}

            .home {background-position: right;}
            
            .info {flex-direction: column;}
            .textcontainer .description  {margin-right: -10dvw; width: 95%;}
            .fotos {align-items: center; margin-bottom: -1dvw; margin-top: 6dvw;}
            .foto1 {max-width: 60dvw; margin-bottom: 3dvw;}
            .foto2 {margin-top: -11dvw;margin-right: -15dvw; width: 23dvw; margin-bottom: -4dvw;}
            .skills-container {margin-top: -3dvw; margin-bottom: 6dvw; flex-direction: column; margin-left: 0; align-items: center; }
            .textcontainer {max-width: 60dvw; margin-top: 1dvw; margin-bottom: 1.5dvw; }
            .skills:optional {margin-bottom: 5dvw; margin-left: 60%; margin-top: 3dvw; padding: 3dvw;}
            .skill {font-size: 10px; width: 80%; margin-top: 3dvw; align-items: center; }
            .skill img {width: 80%; margin-top: -2dvw;}
            
            .service .description {width: 80%;}
            .service-card .description {width: 100%;}
            .service-card img {width: 20dvw; margin-right: 2dvw;}
            .reviews .title {margin-top: 6dvw;}

            .reviews .slider-nav-container {width: min-content; margin-top: -1dvw;}
            .slider-nav {padding: 0.7dvw; margin: 2dvw;}
            .slider-content .description {width: 80%;}

            .availabel {height: min-content;}
            .availabel .title {width: 70%; text-align: center; margin-top: 5dvw;}
            .hireme {margin-bottom: 5dvh; margin-top: 3dvw;}

           .portfolio {height: min-content;}
            .portfolio-nav-container {flex-direction: column; width: 100%; align-items: center;}
            .portfolio-nav {height: 30dvw; width: 50dvw; margin-top: 5dvw; background-color: white; background-repeat:no-repeat; background-size: cover;}
            .portfolio-nav img { padding-left: 12dvw; padding-right: 12dvw;}
            #project1 img {margin-left: -22%;}
            #project2 img {margin-left: -2%;}
            #project3 img {margin-left: -1%;}
            .service-card {min-width: 60dvw;}

            .motto .service-card {margin-bottom: 5dvw; margin-top: 1dvw;}
            .motto {padding-top: 2dvw;}

            .contactus {height: min-content;}
            .small-container {height: 13dvw; width: 65%;}
            .small {font-size: 15px;}
            .big {width: 100%; margin-left: 0; margin-top: 5dvw; height: 23dvw; font-size: 15px;}
            .input-container {flex-direction: column; width: 80%; height: min-content; align-items: center;}
            .contact {font-size: 10px; }
            .contact img {width: 5dvw;}
            .b3 {font-size: 12px;}
        }