

body { 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    width: 100dvw;
    left: 0;
    overflow-x: hidden; margin-top: 0; padding-top: 0; overflow: hidden;
}

header {z-index: +100;
    width: 8dvw;
    min-width: 230px;
    position: fixed;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    height: 100%;
    justify-items: center;
    align-items: center;
    
    border-color: red;
    border: solid;
    justify-content: space-between;
    overflow: hidden;
    
    overflow-y: hidden;
   
    
    
    
}
.anime { position: absolute; top: 4%; width: 15dvw; height: 15dvw; }
.portrait {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0;
}

.name {
    font-size: 26px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
 
    margin-top: 10px;
}
.unten {font-size: 15px; color: rgba(135, 135, 135, 0.785); padding: 1dvw;}

.logo {
   margin-top: 2dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.nav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: -0%;
  
      
}

.btn-nav {
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 15px;
    padding-right: 105px;
    padding-left: 25px;
    width: 100%;
    color: rgba(177, 35, 35, 0.396);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    cursor: pointer;
    border-color: red; 
    align-content: center; border-radius: 5px; white-space: nowrap;
    
}

main {background-color: rgb(72, 71, 71);
    margin-left: 245px;
   margin-top: 0;
    background-color: rgba(0, 0, 0, 0.873);
   overflow-x: hidden;
    scroll-snap-type: y proximity;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; background-image: url(../img/bb.svggg); background-attachment: fixed; margin-bottom: 5px;
    
}

/* Стили для блоков */
.block {
    height: 104dvh; overflow-y: hidden;
   
background-image: url(../img/b.svg); background-position: center; background-size: cover; 
 
    width: 86dvw;
    background-color: rgba(0, 0, 0, 0.3);

    border: 0.05dvw ridge rgb(173, 172, 172);
    border-radius: 2dvw;
    scroll-snap-align: start;
    text-align: center;
   padding-left: 2dvw;
   padding-right: 1dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    overflow-x: hidden;
   transform: scale(0.92) translateY(2dvh );
   
    
    margin-left: 0;  transition: transform 0.3s ease,  border 0.3s  ease; padding-right: -9dvw; margin-bottom: 10dvw;
}



.card1-container {height: 90dvh;
    

    width: 92%; border-radius: 4dvw;
    background-color: rgb(0, 0, 0);

    border: 10px solid rgb(0, 0, 0);
    scroll-snap-align: start;
    text-align: center;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    overflow-x: hidden;}

.red {
    color: red;
    font-size: 24px;
    margin-bottom: 10px;
}

.title-b {
    font-size: 5dvw;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    color: rgb(135, 19, 19);
    
 


filter: brightness(1.3);


}

.title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.description {
    font-size: 18px;
    line-height: 1.5;
}

.selected {
    color: rgb(255, 255, 255); background-color: rgb(177, 35, 35);
}

a {
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    header {
        display: none;
    }
    main {
        margin-left: 0;
    }

    .block {overflow: hidden; background-color: rgba(255, 0, 0, 0); margin-top: 40vh;
    margin-bottom: 40vh;
    }
     main  {overflow: hidden;}
}

.card1 {
    display: flex;
    width: 85%;
    height: 80%;
    margin: 15%;
    background-color: rgba(253, 3, 3, 0.495);
    border-radius: 25px;
    align-items: center;
    align-content: center; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/sad.jpg); background-position: bottom;
    
    
}
.card {
    display: flex;
    width: 90%;
    height: 90%;
    margin: 5%;
    background-color: rgba(253, 3, 3, 0.745);
    border-radius: 25px;
    
}

.about {text-align: center; font-size: 1dvw; max-width: 35dvw;} 
.skill {color: white; max-width: 15dvw; margin-left: 0;white-space: nowrap; font-size: 0.7dvw; color: rgba(255, 255, 255, 0.744); filter: brightness(1.3);}
.skill + .skill {margin-left: 20%;}
.skill-container {
    display: none; margin-top: 40%; margin-bottom: -5%;  width: min-content; justify-content: center; position: absolute; width: 80%; align-content: space-between;  contain: layout;
    
}


.skills {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    
   
border-width: 0;
    color: rgb(255, 255, 255);
    padding: 4%;
    font-size: 1.5dvw;
    margin-top: 20%;
    
    
    
    
    margin-left: -50dvw;
    
    
}


.skills:hover { background-color: rgba(43, 42, 42, 0);
  color: rgb(255, 255, 255);  transition: transform 0.2s, background-color 0.2s, color 0.2s; }
.textabout {
    max-width: 100%;
   
    margin-right: 8%;
    justify-content: left;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
height: 40dvh;
text-align: center;
padding-top: 2%;
    
}

.skill-bar {width: 15dvw;}

.fotos { flex-wrap: nowrap; margin-right: 5dvw; margin-left: 4dvw;
   
}
.foto1 {width: 35vw; border-radius: 10px; margin-top: -5%;}
.foto2 {width: 15vw; margin-bottom: -10%; margin-top: -30%; border-radius: 10px; margin-left: -15dvw; }
.aboutme {display: flex; flex-direction: row; margin-top: -10%;}
.service-container {
    display: flex;
    max-width: 90%; margin-left: 1dvw;
    
}
.textservice {margin-top: -1%; margin-bottom: -0.5%;}
.service-icon { width: 10dvw;}
.service-description {font-size: 1dvw; color: rgba(255, 255, 255, 0.719); max-width: 90%; line-height: 1.3;}
.service-title {font-size: 1.8dvw; line-height: 0.5dvh;}
.d-sev {margin-top: 4%; margin-bottom: 4.5%; font-size: 1.5dvw; max-width: 90%; text-align: center; margin-left: 5%;margin-right: 5%;}
.b3 {justify-content: center; display: flex; margin: 0; }
.service-card {align-content: center; justify-content: center; align-items: center; justify-items: center; display: flex; flex-direction: column;}
.service-card + .service-card {margin-left: 5%;}






.portfolio-card {
    flex-shrink: 0;
    width: 30%;
    height: 100%;
    margin: 0 2%;
    background-color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transform: scale(0.9);
    opacity: 0.7;
}

.portfolio-card.active {
    transform: scale(1);
    z-index: 2;
    opacity: 1;
}

.portfolio-card:nth-child(1) {
    background-image: url('your-image-1.jpg');
}

.portfolio-card:nth-child(2) {
    background-image: url(../img/o1.jpg);
}

.portfolio-card:nth-child(3) {
    background-image: url('your-image-3.jpg');
}





/* Ваши текущие стили */




        .container { 
    text-align: center;
    background-color: rgba(16, 16, 16, 0.607);
    padding: 2%;
    border-radius: 9%;
   
    width: 76%;
    margin: 0 auto;
    margin-left: 0%;
border-radius: 3%;; background-size: cover;
margin-top: -8%;
margin-left: 0%;
padding-right: -8%;
border: solid 0.5dvw black;   
}

.iframe-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 70dvh; /* Высоту можно устанавливать по вашему выбору */
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
   
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 2%; overflow: hidden; 
    
    
}

#resizeHandle {
    position: absolute;
    top: 0;
    right: -0%;
    width: 2dvw;
    height: 100%;
    background-color: #ffffff00;
    cursor: col-resize;
    z-index: 1;
    margin-right: -0.9dvw;
    padding: 0;
    background-image: url(../img/scr.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.resizeHandle:active { transform: scale(2) translateZ(10dvw);}

.portfolio-block {padding-right: 2dvw; background-color: #3d3d3d;}
.portfolio {
 font-size: 5dvw; margin-left: -55%;
 line-height: 1.4; color: rgb(177, 35, 35); margin-top: -2%;  color: rgb(177, 35, 35);
    
 text-shadow:  -5px 5px 0px rgba(125, 26, 26, 0.334),

                 -7.5px 7.5px 0px rgba(86, 17, 17, 0.23),

                 -10px 10px 15px rgba(30, 4, 4, 0.778);
filter: brightness(1.3);
}

h3 {color: #000;
-moz-user-select: -moz-none;
-o-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;}


.buttons-por {
    position: absolute; right: 2dvw; margin-top: 60dvh;
    display: flex;
width: 13dvw;
height: 6dvw;
flex-direction: row;
justify-content: space-between;
}
.portfolio-nav {height: 6dvw; 
    width: 6dvw; 
    border-radius: 60%; 
    background-color: #8e0606; 
    font-size: 4dvh; 
    border:solid; 
    border-width: 0.5dvw; 
    border-color: #8e0606; 
    background-color: #000; 
    color: #ffffff; 
    font-weight: 1dvw; 
    line-height: 0;


    
    transition: transform 0.6s, background-color 0.3s, color 0.3s, box-shadow 0.3s, filter 0.3s;
    color: #ffffffc7;
    box-shadow: -7px 0px 0px 0px rgba(95, 4, 4, 0.678);
}

.portfolio-nav:hover {
    background-color: #a10808;
    color: rgb(255, 255, 255);
    filter: brightness(1.2);  box-shadow:  rgb(44, 3, 3) /* Увеличение яркости при наведении */
}



.raaa { font-size: 3dvw; left: 0;padding-left: 350px; margin-left: 12dvw; color: #ffffff; position: absolute; text-align: left;}


.daaa{
    font-size: 1dvw; left: 0; padding-left: 350px; margin-left: 12dvw; color: #ffffffbb; position: absolute; text-align: left;  margin-top: 15dvw; 
}
.info { position: absolute; right: 2.8dvw; margin-top: 6dvh; border-radius: 10%; line-height: normal;
    display: flex;
width: 13dvw;
height: 6dvw;
flex-direction: row;
justify-content: space-around; font-size: 4dvw; background-color: #8e0606; color: rgb(43, 42, 42, 0.512); border: none;} 


.project-name {position: absolute; right: 0.5dvw; margin-top:-5dvh; white-space: nowrap; font-size: 1.5dvw;
    display: flex;
width: 16dvw;
margin-top: -6dvw;
flex-direction: row;
justify-content: space-around; text-align: center;  align-content: center; }
.git {position: absolute; right: 3dvw; margin-top: 33dvh;  line-height: normal;
    display: flex;
width: 13dvw;
height: 3.5dvw;
flex-direction: row; border-radius: 5%;
justify-content: space-around; color: #ffffffbb; background-color: black;  border: solid #8e0606 0.5dvw; font-size: 0.5dvw }

.project-number {position: absolute; right: 2.3dvw; margin-top:-30dvh; padding-bottom:15px;
    display: flex;
width: 12dvw;
height: 6dvw;
flex-direction: row;
justify-content: space-around; text-align: center;  align-content: center; font-size: 8dvw; color: #ffffffbb; }

.card2 {background-color: #561e1e;}

.input-container { height: 10dvw; display: flex; justify-content: space-evenly; width: 100%; padding-left: 10%; padding-right: 10%; margin-top: 3dvw; }
.small-container {display: flex; height: 10dvw; flex-direction: column; justify-content: space-between; width: 34dvw;}


.contact-container {display: flex; width: 100%; justify-content: space-around; margin-bottom: 2.5%; margin-top: 8%;}
.contact img {width: 6dvw; }
.home1 {max-width: 5dvw;}
.bigcon {margin-top: -10%;}

.contact {width: 20dvw; flex-direction: column-reverse;}

input {border-radius: 8px; border: solid; border-color: rgb(191, 29, 29);border-width: 0; border-bottom-width: 0.55dvw; background-color: rgba(0, 0, 0, 0.24); color: rgb(177, 35, 35); font-size: 1.3dvw; padding: 0.4dvw;}


@media screen and (min-width: 2000px) {.raaa .daaa {margin-left: 0dvw;}}


/* Стили для .info */
.info {
    position: absolute;
    right: 2dvw;
    margin-top: 6vh;
    border-radius: 10%;
    line-height: normal;
    display: flex;
    width: 13vw;
    height: 6vw;
    flex-direction: row;
    justify-content: space-around;
    font-size: 4vw;
    background-color: #8e0606;
    color: #000000;
    border: none;
    transition: transform 0.4s, background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Плавная анимация изменения цветов и тени */
}







/* Стили для .git */
.git {
  position: absolute;
  right: 2vw;
  margin-top: 33vh;
  line-height: normal;
  display: flex;
  width: 13vw;
  height: 3.5vw;
  flex-direction: row;
  border-radius: 5%;
 align-content: center;
  color: #ffffff76;
  background-color: rgba(43, 42, 42, 0);
  border: solid #8e0606 0.5vw;
  font-size: 0.5vw;
  transition: background-color 0.3s, color 0.3s; /* Плавная анимация изменения цветов */
}

.git:hover {
  background-color: #8e0606;
  color: #ffffff;
}







/* Стили для .portfolio-nav */
.portfolio-nav {

  transition: transform 0.1s, background-color 0.1s, color 0.3s; color: #ffffffa4; box-shadow: -10px 0px 0px 0px  rgba(95, 4, 4, 0.678);
  background-color: rgba(43, 42, 42, 0);/* Плавные анимации */  transition: 0.5s;
}

.portfolio-nav:hover {
  background-color: rgb(136, 22, 22);
  color: #ffffff;
   transform: scale(1.1); box-shadow: -8.5px 0px 0px 0px rgb(98, 6, 6);
}

.portfolio-nav.right {

    box-shadow: 10px 0px 0px 0px  rgba(95, 4, 4, 0.678)/* Плавные анимации */
}

.portfolio-nav.right:hover {
  background-color: rgb(136, 22, 22);
  color: #ffffff;
  transform: scale(1.1); box-shadow: 8.5px 0px 0px 0px rgb(98, 6, 6);/* Увеличение размера при наведении */
}








.mana { background-color: rgba(43, 42, 42, 0.821);box-shadow: -6px 8px 0px 0px rgba(201, 4, 4, 0.364);
  color: rgb(177, 35, 35); transition: transform 0.8s ease,}

  .interface {display: flex; flex-direction: column; min-height: min-content; margin-left: 2dvw;}

  .big {border-width: 0.55dvw; border-bottom-width: 0.55dvw ;}

  .conta { margin-top: 2dvw;}
  .contac {margin-top: 2dvw; margin-bottom: 0.5dvw; }
  .contact {font-size: 1dvw;}
  .send { width: 10dvw;margin-top: 3dvw; background-color: none; font-size: 3vw; border: none; color: rgb(177, 35, 35); background-image: url(../img/let.svg); background-color: #00000000;}
 .contact h3 {color: rgb(177, 35, 35); font-size: 1dvw; margin-top: -4dvw; line-height: 0;}
 .send:hover {transform: scale(1.2); color: rgb(219, 44, 44);}
 ::placeholder {color: rgba(177, 35, 35, 0.618);}
.block[data-index="6"] {
    height: 30%; background-color: rgb(177, 35, 35); align-content: flex-start; margin-right: 10%; z-index: -100; padding: 0.5dvw; margin-bottom: -3dvw; border-radius: 0.3dvw;
    /* Другие стили вашего блока */
}


.btn-nav[data-target="6"]  h1 {background-color: #00000000; color: #ffffff; }

#resizeHandle:hover { padding: 5px;
    /* Ваши текущие стили для ресайзера */
    transform: scale(1.3) translateY(-40px) translateX(-15px) translateZ(40px); background-color: rgba(177, 35, 35, 0.312); 
}

 .selected, .mana a {
    transform: translateX(35px) scale(1.2); 
     transition: background-color 0.3s, color 0.5s; margin: 7%; box-shadow: -6px 8px 0px 0px rgba(201, 4, 4, 0.364); margin-bottom: 9%;
    /* Другие стили для выделения активной кнопки */
}


.info {
    position: absolute;
    right: 2dvw;
    margin-top: 6vh;
    border-radius: 10%;
    line-height: normal;
    display: flex;
    width: 13vw;
    height: 6vw;
    flex-direction: row;
    justify-content: space-around;
    font-size: 4vw;
    background-color: #8e0606;
    color: #000000;
    border: none;
    transition: transform 0.4s, background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Плавная анимация изменения цветов и тени */
}







.portfolio-nav:active, .portfolio-nav.right:active { transform: scale(1.3);
   
    transition: background-color 1s, color 1s, transform 1s, box-shadow 0.4s; 
    box-shadow: rgba(255, 255, 255, 0.366) 0px 0px 0px; transform: translateX();}

    .portfolio-nav.right:active {transform: translateX(15px);}

.portfolio-nav:active {transform: translateX(-15px);}




.skill img {filter: brightness(1.5);}



    .skills {background-color: rgba(177, 35, 35, 0.889);  
    color: #000000;
    
    transition: transform 0.6s, background-color 0.3s, color 0.3s, box-shadow 0.3s; 
    color: #ffffffc7;   box-shadow: -10px 12px 0px 0px rgb(151, 3, 3)}
    .skills:hover {background-color: #780707;  ;
    color: rgb(255, 255, 255);
   
    }
    .skills:active {background-color: rgba(43, 42, 42, 0.512);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    box-shadow: -6px 8px 0px 0px rgba(201, 4, 4, 0.364);
    transition: 3s, background-color 2s, color 2s, transform 2s, box-shadow 2s;
     box-shadow: -6px 8.5px 0px 0px rgba(107, 5, 5, 0.652);}

    .skills.mana { box-shadow: -5.5px 7px 0px 0px rgb(61, 2, 2);  transform: scale(0.98) translateY(8px);filter: brightness(1.2); 
        background-color: rgb(106, 20, 20); }
    .skills.mana:active { box-shadow: -5.5px 6px 0px 0px rgb(107, 5, 5);  
        transition: background-color 3s, color 3s, transform 3s, box-shadow 3s; background-color: #561e1e00;}

  .links  {width: 30dvw;  display: flex; margin-left: 38dvw;  margin-top: 23%; justify-content: space-around; position: absolute;}
  .thumbnail img {max-height: 7.5dvw; }
  .thumbnail {font-size: 0.9dvw; padding-left: 10px;  }.thumbnail:hover {cursor: pointer; filter: brightness(1.3); transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s, filter 0.3s; transform: scale(1.1) translateX(20px);border-radius: 1dvw; box-shadow: -10.5px 4px 0px 0px rgba(97, 5, 5, 0.848)  }



.pdf-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.pdf-content {
    background-color: #fff;
    max-width: 800px;
    width: 850px;
    height: 80dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.pdf-content img {
    flex-grow: 1;
    border: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}






.lebens img {z-index: -100; height: 8dvw;}



.info {
    background-color: rgba(177, 35, 35, 0.889);
    color: #000000;
    transition: transform 0.6s, background-color 0.3s, color 0.3s, box-shadow 0.3s, filter 0.3s;
    color: #ffffffc7;
    box-shadow: -10px 12px 0px 0px rgba(201, 4, 4, 0.497);
}

.info:hover {
    background-color: #a10808;
    color: rgb(255, 255, 255);
    filter: brightness(1.2); /* Увеличение яркости при наведении */
}

.info:active {
    background-color: rgba(43, 42, 42, 0.512);
    color: rgb(255, 255, 255);
    transform: scale(1.1) translateY(5px); /* Slight downward movement */
    box-shadow: -6px 8px 0px 0px rgba(201, 4, 4, 0.364);
    filter: brightness(1.5); /* Увеличение яркости при нажатии */
    transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s, filter 0.3s;
    box-shadow: -6px 8.5px 0px 0px rgba(107, 5, 5, 0.652);
}

.info.mana {
    box-shadow: -6.5px 7px 0px 0px rgba(62, 2, 2, 0.93);
    background-color: rgb(131, 26, 26); transform: scale(0.92) translateY(12px);filter: brightness(1.2);
}

.info.mana:active {
    box-shadow: -5.5px 6px 0px 0px rgb(107, 5, 5);
    transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s, filter 0.3s;
    background-color: #561e1e00;
}





/* Стили для кнопок в блоке портфолио */
.btn-nav-portfolio {
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 15px;
    padding-right: 105px;
    padding-left: 25px;
    width: 100%;
    color: rgba(177, 35, 35, 0.396);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 5px;
    white-space: nowrap;
}

.btn-nav-portfolio:hover {
    background-color: rgba(43, 42, 42, 0.512);
    color: rgb(255, 255, 255);
    transform: scale(1.1) translateY(5px);
    box-shadow: -6px 8px 0px 0px rgba(201, 4, 4, 0.364);
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}


.hide {display: none;}

.promo-container { width: 60dvw;  margin-top: -10dvw;  display: flex; justify-content: space-between; } 

.promo img {width: 12dvw;  height: 20dvw; padding-left: 3dvw; padding-right: 3dvw; padding-top: -3dvw; margin-bottom: -4dvw;} 

.promo:hover {cursor: pointer; filter: brightness(1.3); transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s, filter 0.3s; transform: scale(1.1) translateY(-10px) translateX(20px);border-radius: 1dvw; box-shadow: -10.5px 4px 0px 0px rgba(97, 5, 5, 0.848)  
}
input:hover, input:focus { filter: brightness(1.3); transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s, filter 0.3s; transform: scale(1.1) translateX(10px);border-radius: 1dvw; box-shadow: -10.5px 4px 0px 0px rgba(97, 5, 5, 0.848)}
.send:hover {cursor: pointer; filter: brightness(1.3); transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s, filter 0.3s; transform: scale(1.1) translateX(10px);border-radius: 1dvw; box-shadow: -10.5px 4px 0px 0px rgba(97, 5, 5, 0.848)}
.big {width: 34dvw; height: auto; align-content: center ; display: flex; }
.big::placeholder {background-color: #00000007; font-size: 2dvw;  margin-top: 1.5dvw; text-align: center; color: rgba(113, 22, 22, 0.668); font-weight: 300;} 
.arrow {position: absolute; color: rgba(255, 255, 255, 0.711); font-size: 2dvw; right: 12dvw; background-color: rgba(255, 255, 255, 0); font-weight: 600; border: none; position: absolute; contain: layout; margin-top: -3dvw; margin-bottom: 5dvw;}
.arrow:hover {scale: 1.1; color: white; transition: ease 0.1s; }
.adi .title-b {font-size: 8dvw; margin-top: 14.5dvw;   position: absolute; contain: layout;}

.title-b.white {color: #fff; font-size: 2.6dvw; margin-top: -7dvw;}
.title-b.gray {color: #909090; font-size: 1.5dvw; margin-top: 40.5dvw; font-family: 'Nunito', sans-serif; text-shadow: none;}

.citat {padding: 3dvw; margin-top: 1dvw;}
.author {position: absolute; contain: layout; right: 12dvw; margin-top: 15dvw; font-family: 'Nunito'; color: rgba(255, 255, 255, 0.677); }
.motto {margin-top: -35dvw; margin-left: -40dvw; position: absolute; contain: layout;  }
.block[data-index="6"] {
    height: 40%; background-color: rgb(0, 0, 0); align-content: flex-start;  z-index: -100; padding: 0.5dvw; margin-bottom: 1dvw; border-radius: 0.3dvw; background-image: none; flex-wrap: nowrap; align-items: center; align-content: center; justify-content: center;margin-top: -1dvw; padding-left: -10dvw; border-color: rgba(177, 35, 35, 0);}